<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721526613341-dkijuuquedk3bo5ep42u51b1vq3ho4iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721526613341-dkijuuquedk3bo5ep42u51b1vq3ho4iu</string>
	<key>API_KEY</key>
	<string>AIzaSyAlnfh8WKMcGd_HGW6q82xnitokzxjuFTA</string>
	<key>GCM_SENDER_ID</key>
	<string>721526613341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramon.LoginScreenViewCode</string>
	<key>PROJECT_ID</key>
	<string>login-viewcode-94275</string>
	<key>STORAGE_BUCKET</key>
	<string>login-viewcode-94275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721526613341:ios:3dbec5d7f19e24034bb4b4</string>
</dict>
</plist>